

<div class="container__big-card">
  <div class="big-card__photo">

    <img
     src="https://i.pinimg.com/236x/0d/bc/15/0dbc152c09489176c9920d1e99e9696b.jpg"
     alt="Ilha do Vovô"
     height="250px"
     width="300px"
     srcset=""
     >

  </div>


  <div class="big-card__title">
    <h1><a href="#">Nova versão do Android</a></h1>
  </div>



  <div class="big-card__description">
    <p>
      <a href="">
      Nova versão do android chega para os androids, a versão 14 chega para os aparelhos de celulares samsung chamada de ONE UI 6.1 chega ao Brasil com uma proposta inovadora de Software deixando os aparelhos da marca otimizado e com novas funcionalidades.
      </a>
    </p>
  </div>
</div>


