
<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card photoCover="https://i.pinimg.com/236x/27/75/69/2775695525f86558007611d1dbc38a8e.jpg"

    cardTitle="Nova versão do Android"

    cardDescription="Nova versão do android chega para os androids, a versão 14 chega para os aparelhos de celulares samsung chamada de ONE UI 6.1 chega ao Brasil com uma proposta inovadora de Software deixando os aparelhos da marca otimizado e com novas funcionalidades."
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      cardTitle="Novo Dragon Ball anunciado é Anunciado nesta madrugada do dia 14 de janeiro"
      photoCover="https://i.pinimg.com/236x/b8/ea/e3/b8eae34a0933c81c8a1e480b5b9c8ef5.jpg"
    >
    </app-small-card>

    <app-small-card
      cardTitle="Filme O espetacular Homem Aranha 3 tem Trailer divulgado pela Marvel"
      photoCover="https://i.pinimg.com/474x/72/d6/f6/72d6f6440a10902486bbbb44c5157d1b.jpg"

    >
    </app-small-card>

    <app-small-card
      cardTitle="Neymar se aposenta aos seus 50 anos"
      photoCover="https://i.pinimg.com/236x/51/26/db/5126db63bd0e517e14dcd8b281834492.jpg"
    >

    </app-small-card>
  </div>

</div>


<!--
<h1>Novidades</h1>
<hr>
<div class="container__articles">

  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>

</div>
 -->
