<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://i.pinimg.com/236x/0f/23/13/0f23133f93f1bb001e6b8fee5943c971.jpg"
      cardTitle=" Novo Dragon Ball Z é anunciado"
      cardDescription="Em uma emocionante revelação, a franquia Dragon Ball Z anuncia uma nova saga que deixará os fãs em êxtase. Prepare-se para uma jornada repleta de batalhas épicas, poderes extraordinários e reviravoltas emocionantes. O criador Akira Toriyama promete levar os saiyajins e seus aliados a novos limites, proporcionando uma experiência inigualável aos admiradores dessa icônica série de anime. A expectativa está nas alturas enquanto os detalhes da trama começam a emergir"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Náutico Campeão Da copa do Brasil"
      photoCover="https://i.pinimg.com/236x/42/01/c3/4201c33a6d80a24e9ec2afb76ab0d421.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Neymar Campeão do mundo"
      photoCover="https://i.pinimg.com/236x/39/5a/ec/395aecbb31e8e48da098a5fc1ba5f383.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Minecraft Faliu ?"
      photoCover="https://i.pinimg.com/236x/e5/7b/54/e57b54b6916bf1c603b9dfa7b4d072e6.jpg"
    >
    </app-small-card>
  </div>
</div>
